<a href="https://colab.research.google.com/github/arslabadack/DataTwitter-Eleitoral/blob/main/Etapa_02_Coleta_dos_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Apresentação do projeto

Proposta para construção de uma aplicação que realiza análise de sentimentos dos candidatos à presidência.

Instalação e importação das bibliotecas

Sobre a lib: https://github.com/JustAnotherArchivist/snscrape

In [1]:
pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.2.6)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [20]:
import snscrape.modules.twitter as sntwitter

#Manipulação de dados
import pandas as pd

In [21]:
maximo_de_tweets = 50

In [22]:
lista_tweets_lula = []

In [23]:
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['lula']).get_items()):
    if i > maximo_de_tweets:
        break
    lista_tweets_lula.append([tweet.date, tweet.id, tweet.content])

Lula

In [ ]:
lista_tweets_lula

In [24]:
dataframe_tweets_lula = pd.DataFrame(lista_tweets_lula, columns=['Data_Hora','idTweet','Tweet'])

In [27]:
dataframe_tweets_lula.head()

,Data_Hora,idTweet,Tweet
0,2022-07-30 00:17:10+00:00,1553172816509472770,Jornal Nacional dando uma moral e pegando a me...
1,2022-07-30 00:17:10+00:00,1553172814861148161,"Política a parte, faz o L de lula"
2,2022-07-30 00:17:10+00:00,1553172814752104451,apareceu alguma parada do Lula na tv e do nada...
3,2022-07-30 00:17:10+00:00,1553172813862916099,@SF_Moro Aguardando ansiosamente o comício Mor...
4,2022-07-30 00:17:08+00:00,1553172808905199624,@KriskaCarvalho A batata tá apoiando o Lula? T...

In [28]:
dataframe_tweets_lula['Candidato'] = 'Lula'

Bolsonaro

In [29]:
lista_tweets_bolsonaro = []

In [30]:
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['bolsonaro']).get_items()):
    if i > maximo_de_tweets:
        break
    lista_tweets_bolsonaro.append([tweet.date, tweet.id, tweet.content])

In [33]:
dataframe_tweets_bolsonaro = pd.DataFrame(lista_tweets_bolsonaro, columns=['Data_Hora','idTweet','Tweet'])

In [34]:
dataframe_tweets_bolsonaro.head()

,Data_Hora,idTweet,Tweet
0,2022-07-30 00:20:27+00:00,1553173644075048961,@fabifbbr @jairbolsonaro https://t.co/dXbVfy5aej
1,2022-07-30 00:20:27+00:00,1553173642439270405,@PauloRi78191404 @esperidiaoamin_ @jairbolsona...
2,2022-07-30 00:20:25+00:00,1553173634050572288,Esses 18% que confiam no Bolsonaro deve ser a ...
3,2022-07-30 00:20:25+00:00,1553173633727692800,Vc é o Mito do povo brasileiro !!!\n\nPresiden...
4,2022-07-30 00:20:24+00:00,1553173629676015616,@CNNBrasil Brasil chegará em Setembro (auge da...

In [35]:
dataframe_tweets_bolsonaro['Candidato'] = 'Bolsonaro'

Ciro

In [36]:
lista_tweets_ciro = []

In [37]:
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(['ciro']).get_items()):
    if i > maximo_de_tweets:
        break
    lista_tweets_ciro.append([tweet.date, tweet.id, tweet.content])

In [40]:
dataframe_tweets_ciro = pd.DataFrame(lista_tweets_ciro, columns=['Data_Hora','idTweet','Tweet'])

In [41]:
dataframe_tweets_ciro.head()

,Data_Hora,idTweet,Tweet
0,2022-07-30 00:23:14+00:00,1553174344590827527,@jones_ciro @GilneiBorba Kkkkkkk
1,2022-07-30 00:23:12+00:00,1553174335078154241,@RitaLisauskas Para de encher o saco e vai ao ...
2,2022-07-30 00:22:58+00:00,1553174274407546881,@guilherme_amado Tira o Ciro Gomes desse penic...
3,2022-07-30 00:22:55+00:00,1553174261644288000,"@BrDemori Não caia nessa, Ciro vai tirar bozo ..."
4,2022-07-30 00:22:51+00:00,1553174245546549248,@portalhistoria @deluca_joao @carneirothiagoo ...

In [42]:
dataframe_tweets_ciro['Candidato'] = 'Ciro'

In [44]:
dataframe_final = pd.concat([dataframe_tweets_lula, dataframe_tweets_bolsonaro, dataframe_tweets_ciro], axis = 0)

In [45]:
dataframe_final['Candidato'].unique()

array(['Lula', 'Bolsonaro', 'Ciro'], dtype=object)

In [46]:
dataframe_final.to_csv('dataframe_final_candidatos.csv', sep=',', index=False)