##Etapa 3 - EDA, Storytelling e Visualização

In [ ]:
import pandas as pd
import re

In [ ]:
dataframe_final_candidatos = pd.read_csv("dataframe_final_candidatos.csv")

In [ ]:
dataframe_final_candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Data_Hora  153 non-null    object
 1   idTweet    153 non-null    int64
 2   Tweet      153 non-null    object
 3   Candidato  153 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.9+ KB

In [ ]:
dataframe_final_candidatos.isnull().sum()

Data_Hora    0
idTweet      0
Tweet        0
Candidato    0
dtype: int64

In [ ]:
dataframe_final_candidatos['Tweet_limpo'] = dataframe_final_candidatos['Tweet']

In [ ]:
dataframe_final_candidatos.head()

,Data_Hora,idTweet,Tweet,Candidato,Tweet_limpo
0,2022-07-30 23:22:03+00:00,1553521334897999874,@LulaOficial A TODOS OS DEMOCRATAS: ASSINEM!!!...,Lula,@LulaOficial A TODOS OS DEMOCRATAS: ASSINEM!!!...
1,2022-07-30 23:22:03+00:00,1553521332272480256,@angelobiazus1 @SilvioN34576400 @reinaldoazeve...,Lula,@angelobiazus1 @SilvioN34576400 @reinaldoazeve...
2,2022-07-30 23:22:03+00:00,1553521331417006080,"@PaolaSDaniel TADINHA DA PAOLA, DODOIZINHA DA ...",Lula,"@PaolaSDaniel TADINHA DA PAOLA, DODOIZINHA DA ..."
3,2022-07-30 23:22:02+00:00,1553521329709645824,"@LulaOficial Quando a petezada perceber, tu tá...",Lula,"@LulaOficial Quando a petezada perceber, tu tá..."
4,2022-07-30 23:22:02+00:00,1553521328556101632,@JoaoMeiraNeto63 @reinaldoazevedo Bora saudar ...,Lula,@JoaoMeiraNeto63 @reinaldoazevedo Bora saudar ...

In [ ]:
def limpeza_do_texto(tweet):
    tweet = tweet.lower()
    tweet = re.sub('\n', '', tweet)
    tweet = re.sub('@[^\s]+', '', tweet)
    tweet = re.sub('\B#\S+', '', tweet)
    tweet = re.sub('https?://\S|www\.\S+', '', tweet)
    return tweet

In [ ]:
dataframe_final_candidatos['Tweet_limpo'] = dataframe_final_candidatos['Tweet'].apply(lambda i:limpeza_do_texto(i))

In [ ]:
dataframe_final_candidatos.head()

,Data_Hora,idTweet,Tweet,Candidato,Tweet_limpo
0,2022-07-30 23:22:03+00:00,1553521334897999874,@LulaOficial A TODOS OS DEMOCRATAS: ASSINEM!!!...,Lula,a todos os democratas: assinem!!! carta às br...
1,2022-07-30 23:22:03+00:00,1553521332272480256,@angelobiazus1 @SilvioN34576400 @reinaldoazeve...,Lula,pô mané... passa esse atestado não. tivemos...
2,2022-07-30 23:22:03+00:00,1553521331417006080,"@PaolaSDaniel TADINHA DA PAOLA, DODOIZINHA DA ...",Lula,"tadinha da paola, dodoizinha da cabeça.lula e..."
3,2022-07-30 23:22:02+00:00,1553521329709645824,"@LulaOficial Quando a petezada perceber, tu tá...",Lula,"quando a petezada perceber, tu tá fu."
4,2022-07-30 23:22:02+00:00,1553521328556101632,@JoaoMeiraNeto63 @reinaldoazevedo Bora saudar ...,Lula,bora saudar a mandioca e os meninos do lula ...

In [ ]:
dataframe_final_candidatos.to_csv('dataframe_final_candidatos_pronto_sentimento.csv', sep=',', index=False)